.form-wrapper {
    width: 500px;
    padding: 20px;
}
.new-contact-link {
    margin: 20px 0;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}  
tr:nth-child(even) {
    background-color: #dddddd;
}