.button {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    color: white;
    border: none;
    font-size: var(--font-size-big);
    text-align: center;
    margin-top: 10px;
}
.button:focus{
    outline: 0;
}
.button-primary {
    background: var(--button-primary-color);    
}