.input-group {
    width: 100%;
    margin-bottom: 10px;
}
    .input-group__label {
        display: inline-block;
        font-size: var(--font-size-big);
        margin-bottom: 10px;
    }
    .input-group .input-group__input {
        width: 100%;
        height: 38px;
        border-radius: var(--input-text-border-radius);
        border: var(--input-text-border);
        outline: none;
        background-color: white;
    } 